.image {
    background-image: url("../../components/images/test.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image .text {
    color: white;
    text-align: center;
    padding-top: 40vh;
}

.image .text .btn {
    width: 25%;
    padding: 10px;
    display: block;
    margin: 0 auto 20px;
}

.products {
    color: white;

}

.card {
    height: 100% !important;
}

.card img {
    height: 200px;
}