.container .text {
    padding-top: 90px;
}

.container .img img {
    height: 300px;

}

.container .images {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container .images img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    cursor: pointer;

}

.container .images img:nth-child(1) {
    flex-grow: 1;
}

@media(max-width:750px) {
    .text .title {
        font-size: 25px !important;
    }
}